---
title: Vendors

# true if the page is included in the menu
listed: true

# true if the page is published
published: true

# position among sibling pages
position: 8
---
{% extends parent %}

{% block content %}

  <section id="vendors">
    {% for category in contents.link_categories %}
    <article class="link-category">
      <h2>{{ category.title }}</h2>
      {% if category.links.size > 0 %}
      <ul>
        {% for link in category.links %}
        <li><a href="{{ link.url }}" rel="external">{{ link.title }}</a></li>
        {% endfor %}
      </ul>
      {% endif %}
    </article>
    {% endfor %}
  </section>

{% endblock %}
